@using Medibook.Helpers
@using Medibook.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();

    List<Category> categories = db.Categories.ToList();
}

<div class="col-lg-3">

    <h5 class="my-4" style="margin-bottom:0 !important">Medibookta Neler Var ?</h5>


    @using (Html.BeginForm())
    {

        <div class="input-group mb-3" style="padding:10px">
            <input type="search" name="SearchString" class="form-control" placeholder="Kitap,Yazar,Kategori.." aria-label="Kitap,Yazar,Kategori.." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    }


    <div class="list-group">
        @foreach (var item in categories)
        {
            <a href="@Url.Action("GetByCategory", "Home", new { id = item.Id, name = @Url.FriendlyURLTitle(item.Name) })" class="list-group-item">@item.Name</a>

        }
    </div>

</div>